<!doctype html>
<html lang="ko">
<head>
    {% include '/common/head.html' %}
    <title>service</title>
    <link rel="stylesheet" href="/static/css/menu/use-content.css">
</head>
<body>
    <div id="wrap">
        {% include '/common/header.html' %}
        <div id="container">
            <section class="content-wrap">
                <div class="content-box">
                    <h2 class="content-title">Our Contents</h2>

                    <div class="content-area">
                        <div class="per-component">

                            <h3 class="per-customer">기관 / 학원 원장님</h3>
                            <div class="link-box">
                                <a href="/service">
                                    <p class="service-home">서비스 홈페이지</p>
                                    <p class="right-go">바로가기</p>
                                    <div class="box-dimmed"></div>
                                </a>
                            </div>

                            <div class="text-box">
                                <p class="content-text">Placement Test</p>
                            </div>
                            <div class="text-box">
                                <p class="content-text">AI컨설팅 자료</p>
                            </div>
                            <div class="text-box">
                                <p class="content-text">학습 통계 자료</p>
                            </div>

                        </div>
                    </div>


                </div>
            </section>




        </div>
        {% include '/common/footer.html' %}
    </div>
</body>
</html>