<!doctype html>
<html lang="ko">
<head>
    {% include '/common/head.html' %}
    <title>Tosel Lab</title>
    <link rel="stylesheet" href="/static/css/main/index.css">
</head>
<body>
    <div id="wrap">
        {% include '/common/header.html' %}
        <div id="content">
            <section class="intro-wrap">
                <div class="intro-box">

                    <div class="intro-area">
                        <div class="intro-text">
                            <div class="intro-title-box">
                                <p class="intro-subtitle">AI 영어성장 플랫폼</p>
                                <h2 class="intro-title">TOSEL Lab</h2>
                            </div>
                            <p class="intro-info">200만 명 응시자 성적 데이터를 기반으로, AI 분석 진단을 통해 개발된 맞춤식 영어교육프로그램, TOSEL Lab</p>
                            <div class="intro-btn-box">
                                <button class="intro-join">가입하기</button>
                                <button class="intro-content">컨텐츠 바로가기</button>
                            </div>

                            <p class="co-plan">공동기획</p>
                            <p class="co-commit">국제토셀위원회</p>
                            <p class="co-inst">고려대학교 문과대학 언어정보연구소</p>
                            <p class="co-institute">고려대학교 공과대학 기계학습 및 빅데이터연구원</p>

                        </div>
                        <div class="intro-img">
                            <div class="intro-img-box">
                                <img class="level cocoon" src="/static/images/main/pc-level-cocoon.png" alt="코쿤레벨">
                                <img class="level prestarter" src="/static/images/main/pc-level-prestarter.png" alt="프리스타터레벨">
                                <img class="level starter" src="/static/images/main/pc-level-starter.png" alt="스타터레벨">
                                <img class="level basic" src="/static/images/main/pc-level-basic.png" alt="베이직레벨">
                                <img class="level junior" src="/static/images/main/pc-level-junior.png" alt="주니어레벨">
                                <img class="level highjunior" src="/static/images/main/pc-level-highjunior.png" alt="하이주니어레벨">
                                <img class="level advanced" src="/static/images/main/pc-level-advanced.png" alt="어드벤스드레벨">
                            </div>
                        </div>
                    </div>
                    <div class="scd-box">
                        <button class="scd-btn">Scroll Down</button>
                    </div>
                </div>
            </section>

            <section class="slide-wrap">
                <div class="slide-box">

                </div>
            </section>
        </div>
        {% include '/common/footer.html' %}
    </div>

</body>
</html>