@charset "utf-8";




/* ---------------head-area----------- */
.m-tosel-logo {
    display: none;
}


.head-area, .service-box, .nav-box {
    display: flex;
}

.head-area {
    width: 21.34rem;
    height: 2.39rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /*align-items: center;*/
}

/* logo-box */
.logo-box {
    width: 3.34rem;
}


/* service-box */
.service-box {
    /*margin-top: 2rem;*/
}

.service-items {
    position: relative;
}

.service-items + .service-items {
    margin-left: 0.48rem;
}

.mouse-over-area {
    padding: 0.1rem 0;
}

.service-item {
    font-size: 0.32rem;
    padding: 0.21rem 0.39rem;
    border-radius: 0.45rem;
    color: #0F1E74;
    font-weight: 500;
    transition: 400ms;
}

.service-link {
    display: none;
    position: absolute;
    width: 2.41rem;
    margin: 0 auto;
    /*margin-top: 0.13rem;*/
    border-radius: 0.29rem;
    box-shadow: 0px 4px 15px rgba(15, 30, 116, 0.15);
    padding: 0.18rem 0.23rem;
    /*top: 1rem;*/
    left: 0.3rem;
    background: #FFFFFF;
}

.service-link p {
    font-weight: 500;
    font-size: 0.21rem;
    text-align: center;
    padding-top: 0.21rem;
    padding-bottom: 0.21rem;
    border-bottom: 0.01rem solid rgba(15, 30, 116, 0.4);
}

.service-link p:nth-child(3) {
    border-bottom: 0;
}

.service-link p:hover {
    font-weight: 800;
}



.service-items:hover .service-item {
    background: rgba(15, 30, 116, 0.04);
}

/* nav-box */

.nav-box {
    align-items: center;
}

.nav-item {
    font-size: 0.21rem;
    padding: 0.30rem 0.27rem;
}

.nav-item + .nav-item {
    margin-left: 0.09rem;
}


.btn-login {
    font-size: 0.21rem;
    height: 0.64rem;
    padding: 0.18rem 0.45rem;
    margin-left: 0.27rem;
    border-radius: 1.20rem;
    border: 0.02rem solid #0F1E74;
}



/* ---------------foot-area----------- */

#footer {
    background: linear-gradient(90deg, rgba(120, 127, 246, 0.4) -0.49%, rgba(28, 167, 236, 0.4) 102.27%);
}

.foot-area {
    width: 21.34rem;
    margin: 0 auto;
    color: #000000;
    padding: 0.89rem 0;
}

.flogo-box {
    width: 2.21rem;
}

.fpc-tosel-logo {
    display: block;
}



/* flink-box */

.flink-box {
    display: flex;
    justify-content: space-between;
    height: 0.64rem;
}

.copyright {
    font-size: 0.21rem;
    font-weight: 500;
    margin-top: 0.3rem;
}




/* icon-item */
.icon-list {
    display: flex;
    margin-bottom: -3rem;
    margin-left: auto;
}

.icon-item > a {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.icon-item + .icon-item {
    margin-left: 0.43rem;
}

.icon-item:nth-child(1) {
    width: 0.59rem;
    height: 0.57rem;
    background: url('/static/images/common/icon-facebook.png') no-repeat;
    background-size: contain;
}

.icon-item:nth-child(2) {
    width: 0.59rem;
    height: 0.57rem;
    background: url('/static/images/common/icon-instagram.png') no-repeat;
    background-size: contain;
}

.icon-item:nth-child(3) {
    width: 0.77rem;
    height: 0.57rem;
    background: url('/static/images/common/icon-youtube.png') no-repeat;
    background-size: contain;
}

.icon-item:nth-child(4) {
    width: 0.64rem;
    height: 0.57rem;
    background: url('/static/images/common/icon-blog.png') no-repeat;
    background-size: contain;
}

.flink-tosel {
    margin-left: 0.43rem;
    padding: 0.18rem 0.23rem;
    border: 0.02rem solid #000000;
    border-radius: 1.20rem;
}


@media screen and (min-width: 0px) {
    html {
        font-size: 34px;
    }

    #wrap {
        min-width: 768px;
    }
}


@media screen and (min-width: 768px) {
    html {
        font-size: 4.3922vw;
    }
}



@media screen and (min-width: 1275px) {
    html {
        font-size: 56px;
    }
}