 .loading {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	background: #F0F0F0;
	opacity: 0;
	transition: 0.5s;
}

.before-load .container {
    display: none;
}

.before-load .loading {
	opacity: 1;
	transition: 900ms ease-in-out;
} 
@keyframes loading-spin {
	100% { transform: rotate(360deg); }
}
@keyframes loading-circle-ani {
	0% { stroke-dashoffset: 157; }
	75% { stroke-dashoffset: -147; }
	100% { stroke-dashoffset: -157; }
}

.loading-circle {
	width: 54px;
	height: 54px;
	animation: loading-spin 2s infinite ease-in-out;
}
.loading-circle circle {
	background: #DFDFDF;
	stroke: #37B2EE;
	stroke-width: 4;
	/* getTotalLength()로 stroke의 길이를 얻어올 수 있음 */
	stroke-dasharray: 157, 157;
	stroke-dashoffset: 0;
	fill: transparent;
	animation: loading-circle-ani 2s infinite;
	/* transition: 1s; */
}
/* .loading-circle:hover circle {
	stroke-dashoffset: -157;
} */