@charset "UTF-8";

#wrap {
    /*height: 100vh;*/
}

.logo-box {
    width: 100%;
    margin-left: 0;
}

.flex-arr {
    flex:1;
}

/* header */
.page-box {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    flex: 3;
    -webkit-justify-content: center;
    justify-content: center;
}

.page-area:nth-child(1) .page-item {
    font-weight: bold;
}

.page-area:nth-child(1) .page-bar {
    display: block;
}

/* container */

.aca-member-box {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 21.34rem;
    margin: 0 auto;
    padding-top: 1.88rem;
    margin-bottom: 0.54rem;
}


.aca-member-area {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-align-items: center;
    align-items: center;

}

.member-img-box {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 3.11rem;
    height: 3.11rem;
    background-color: #FDFDFD;
    box-shadow: 5px 3px 5px rgba(170, 192, 224, 0.7);
    border-radius: 6.89rem;
    margin-right: 0.63rem;
}

.member-img-area {
    width: 2.93rem;
    height: 2.93rem;
}

.aca-member-greeting {
    font-size: 0.43rem;
}

.aca-member-name {
    font-size: 0.43rem;
    font-weight: bold;
}

.aca-member-change {
    font-size: 0.29rem;
    font-weight: 100;
    margin-top: 0.45rem;
    cursor: pointer;
}

.placement-box {
    background: linear-gradient(72.34deg, #9498F8 6.02%, #6EE5E5 97.19%);
    border-radius: 0.36rem;
    cursor: pointer;
}

.placement-area {
    width: 6.75rem;
    height: 4.05rem;
    background-image: url('/static/images/dashboard/pc-main-placement-back.png');
    background-repeat: no-repeat;
    background-size: 1.70rem 1.25rem;
    background-position: bottom 0.54rem right 0.5rem;
    /* 박스 개체 그림자 */
    box-shadow: 0.16rem 0.16rem 0.63rem #CBDEF9;
    padding: 0.54rem 0.71rem;
    border-radius: 0.36rem;
    color: #FFFFFF;
}

.placement-title {
    width: 3.86rem;
    font-weight: bold;
    font-size: 0.64rem;
    word-break: keep-all;
}

.placement-go {
    font-size: 0.36rem;
    font-weight: 300;
    margin-top: 0.5rem;
}


/* aca-content-wrap */

.aca-content-wrap {
    padding-bottom: 1.79rem;
}

.aca-content-box {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 21.34rem;
    margin: 0 auto;
}

.aca-content-component {
    width: 6.75rem;
    height: 6.75rem;
    box-shadow: 0.16rem 0.16rem 0.63rem #CBDEF9;
    border-radius: 0.36rem;
    padding: 0.63rem 0.71rem;
    background: #FFFFFF;
}

.content-title-area {
    padding-bottom: 3.09rem;
    background: url("/static/images/dashboard/pc-main-stu-back.png") no-repeat;
    background-size: 1.79rem 1.88rem;
    background-position: bottom 0.46rem right 0;
    border-bottom: 0.03rem solid #CBDEF9;
}

.aca-content-component:nth-child(2) .content-title-area {
    background: url("/static/images/dashboard/pc-main-learn-back.png") no-repeat;
    background-size: 1.79rem 1.88rem;
    background-position: bottom 0.46rem right 0;
}

.aca-content-component:nth-child(3) .content-title-area {
    background: url("/static/images/dashboard/pc-main-ai-back.png") no-repeat;
    background-size: 1.79rem 1.88rem;
    background-position: bottom 0.46rem right 0;
}

.content-title {
    font-weight: bold;
    font-size: 0.54rem;
}

.content-title-eng {
    font-size: 0.32rem;
    font-weight: 300;
}

.content-des-area {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-align-items: center;
    align-items: center;
    padding-top: 0.45rem;
    z-index: 1;
}

.content-adt {
    -webkit-flex: 1;
    flex: 1;
}

.content-adt-des {
    font-weight: 500;
    font-size: 0.25rem;
    color: #1E2F97;
}

.content-adt-text {
    font-weight: 300;
    font-size: 0.25rem;

}

.aca-content-component:nth-child(2) .content-adt:nth-child(2) {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.aca-content-component:nth-child(3) .content-adt:nth-child(2) {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
}



/* container */


.search-box {
    width: 21.25rem;
    margin: 0 auto;
    padding-top: 1.88rem;
    color: #000000;
}

.search-kind {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-align-items: end;
    align-items: end;
    margin-bottom: 0.33rem;
}

.search-title {
    font-size: 0.43rem;
    margin-right: 0.46rem;
    font-weight: normal;
}

.search-des {
    vertical-align: text-bottom;
    font-size: 0.25rem;
    color: #7B7B7B;
}

.search-container {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: end;
    align-items: end;
}

.search-com-box {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
}


.search-area {
    width: 4.27rem;
}

.searchText {
    font-size: 0.25rem;
}


.select-area {
    margin-left: 0.29rem;
    width: 3.39rem;
    transition: 400ms ease-in-out;
}




/* */

.parent-id-box {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 21.25rem;
    padding-bottom: 2.09rem;
    margin: 0 auto;
    margin-top: 0.54rem;
}

/* sele-btn-box */

.sele-btn-box {
    position: relative;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    width: 6.25rem;
    height: 0.66rem;
    border-radius: 0.41rem;
    background: #37B2EE;
}

.sele-btn-box p {
    font-size: 0.25rem;
}


.sele-btn {
    position: relative;
    flex: 1;
    color: #333333;
    z-index: 1;
}

.sele-btn.prt {
    padding: 0.14rem 0.2rem 0.14rem 0.4rem;
    color: #37B2EE;
    transition: 400ms;
}
.sele-btn.tcr {
    padding: 0.14rem 0.3rem 0.14rem 0.3rem;
    color: #FFFFFF;
    transition: 400ms;
}

.btn-bar {
    position: absolute;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    width: 3.11rem;
    height: 100%;
    top: 0;
    transition: 400ms;
}

.btn-bar-item {
    background: #ffffff;
    border-radius: 0.41rem;
    width: 3.11rem;
    height: 0.55rem;
    margin: 0.05rem 0;
    margin-left: 0.07rem;
}

.student-check-box {
    margin-right: 0.45rem;
}

.stu-check-area {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    margin-bottom: 1.43rem;
}

.stu-check-tab {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.stu-check-tab + .stu-check-tab {
    margin-left: 0.55rem;
}

.stu-check-tab .stu-check-component:first-child {
    border-top: 0.04rem solid #1BA7EC;
}

.stu-check-component {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    padding: 0.381rem 0;
    -webkit-align-items: center;
    align-items: center;
    font-size: 0.32rem;
    border-bottom: 0.02rem solid #DFDFDF;
}


input[type="checkbox"].check-pointer {
    width: 0.45rem;
    height: 0.45rem;
    border-radius: 0.09rem;
    margin: 0 0.39rem;
}

.arrange-bar {
    width: 0.02rem;
    height: 0.57rem;
    background: #DFDFDF;
}

.check-name {
    width: 3.66rem;
    text-align: center;
    font-size: 0.32rem;
    color: #333333;
}

.parent-check-btn-des {
    font-size: 0.21rem;
    color: #7B7B7B;
    text-align: center;
}

/* stu-paging-box */
.stu-paging-box {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 9.64rem;
    margin: 0 auto;
    color: #333333;
}

.stu-paging-box span {
    font-size: 0.29rem;
    font-weight: 300;
}

.stu-paging-box span.active-page {
    font-weight: 900;
}

.paging-prev,.paging-next {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.paging-prev:before {
    content: '';
    display: inline-block;
    width: 0.45rem;
    height: 0.45rem;
    background: url('/static/images/common/com-paging-left.png') no-repeat;
    background-size: contain;
    margin-right: 0.09rem;
}


.paging-next:after {
    content: '';
    display: inline-block;
    width: 0.45rem;
    height: 0.45rem;
    background: url('/static/images/common/com-paging-right.png') no-repeat;
    background-size: contain;
    margin-left: 0.09rem;
}




/* parent-check-box */

.parent-check-area{
    position: relative;
    width: 4.93rem;
    background: #F0F0F0;
    padding: 0.14rem 0.09rem 0.14rem 0.14rem;
    height: 9.5rem;
    border-radius: 0.18rem;
    margin-bottom: 0.36rem;
}


.prt-head, .prt-check-component {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    font-size: 0.25rem;
    color: #37B2EE;
    background: #FDFDFD;
    border-radius: 0.09rem;
    margin-bottom: 0.11rem;
}

.prt-check-component {

}

.prt-component {
    width: 4.46rem;
    border-bottom: 0.02rem solid #FDFDFD;
    margin-bottom: 0.11rem;
}

.prt-check-head {
    position: absolute;
    top: 0.14rem;
    left: 0.14rem;
    width: 4.46rem;
    z-index: 101;
}

.prt-check-head {
    background: #F0F0F0;
}

.bottom-bar {
    margin: 0.11rem 0;
    background: #FDFDFD;
    width: 4.46rem;
    height: 0.02rem;

}


.prt-check-component-box {
    min-height: 6.7rem;
     display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.scroll-bar {
    position: relative;
    max-height: 7.66rem;
    overflow-y: scroll;
    padding-right: 0.09rem;
    padding-top: 0.9rem;
}


.scroll-bar::-webkit-scrollbar {
    width: 0.14rem;
    border-radius: 0.18rem;
    padding: 0.04rem;
}

/* 스크롤바 막대 설정*/
.scroll-bar::-webkit-scrollbar-thumb {
    height: 17%;
    background-color: #FFFFFF;
    border-radius: 0.18rem;
    background-clip: padding-box;
    border: 0.04rem solid transparent;
}

/* 스크롤바 뒷 배경 설정*/
.scroll-bar::-webkit-scrollbar-track {
    background-color: #DFDFDF;
    border-radius: 0.18rem;
}

.prt-bar {
    width: 0.02rem;
    height: 0.36rem;
    background: #DFDFDF;
}

.prt-num, .prt-all-name {
    padding: 0.14rem 0;
}

.prt-num, .check-issue-box {
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
}

.check-issue-box, input[type="checkbox"].check-issue {
    width: 0.34rem;
    height: 0.34rem;
}

.prt-all-name {
    -webkit-flex: 3.5;
    flex: 3.5;
    text-align: center;
}



.prt-check-component .prt-num {
    color: #BEBEBE;
}
.prt-check-component .prt-all-name {
    color: #333333;
}

.prt-check-btn {
    display: block;
    width: 3.11rem;
    height: 0.66rem;
    margin: 0 auto;
    font-size: 0.25rem;
    padding: 0.14rem 0.34rem;
    background: #37B2EE;
    border-radius: 0.18rem;
    color: #FFFFFF;
    margin: 0 auto;
    margin-top: 0.34rem;
}

.prt-id-issue {
    display: block;
    width: 2.82rem;
    height: 0.52rem;
    margin: 0 auto;
    margin-top: 3rem;
    font-size: 0.21rem;
    background: rgba(51, 51, 51, 0.2);
    color: #7B7B7B;
    border-radius: 0.09rem;
}




/******** divide-class-container ******/


.parent-id-container {
    display: block;

}


/*.select-area:nth-child(2) {*/
/*    display: none;*/
/*}*/

.divide-class-box {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}


.divide-class-container {
    width: 21.25rem;
    margin: 0 auto;
    margin-top: 0.96rem;
    padding-bottom: 3rem;
}




.divide-box {
    position: relative;
    width: 6.75rem;
    height: 8.16rem;
    background: #F0F0F0;
    border-radius: 0.18rem;
    padding: 0.23rem 0.09rem 0.23rem 0.23rem;
}

.dvd-scroll {
    padding-top: 1.4rem;
    max-height: 7.68rem;
    overflow-y: scroll;
}

.dvd-component-box {
    max-height: 7.68rem;
}


.dvd-scroll::-webkit-scrollbar,
.cla-scroll::-webkit-scrollbar{
    width: 0.14rem;
    border-radius: 0.18rem;
}

.dvd-scroll::-webkit-scrollbar-thumb,
.cla-scroll::-webkit-scrollbar-thumb {
    height: 17%;
    background-color: #FFFFFF;
    border-radius: 0.18rem;
    background-clip: padding-box;
    border: 0.04rem solid transparent;
}

.dvd-scroll::-webkit-scrollbar-track,
.cla-scroll::-webkit-scrollbar-track{
    background-color: #DFDFDF;
    border-radius: 0.18rem;
}


.sele-text {
    font-size: 0.36rem;
    font-weight: normal;
    color: #333333;
    margin-bottom: 0.20rem;
}

.add-student {
    width: 6.75rem;
}

.add-cla-btn {
    width: 0.43rem;
    height: 0.43rem;
    background: url('/static/images/common/com-add.png') no-repeat;
    background-size: contain;
    cursor: pointer;
}


.add-cla-box {
    position: absolute;
    top: 0.23rem;
    left: 0.23rem;
    padding-bottom: 0.16rem;
    background: #F0F0F0;
}


.add-cla-area {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0.36rem 0.52rem;
    background: #FFFFFF;
    width: 6.09rem;
    border-radius: 0.09rem;
}


.add-cla-text {
    font-size: 0.36rem;
    font-weight: normal;
    color: #37B2EE;
}


/* dvd-component */

.dvd-component {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 6.09rem;
    height: 1.61rem;
    color: #37B2EE;
    font-size: 0.36rem;
    background: #FFFFFF;
    padding: 0.36rem 0.52rem;
    margin-bottom: 0.16rem;
    cursor: pointer;
    border: 0.07rem solid transparent;
    border-radius: 0.18rem;
}


.dvd-component-active {
    background: #F2FBFF;
    border: 0.07rem solid #37B2EE;
    border-radius: 0.18rem;
}


.cla-text, .cla-id {
    text-align: right;
    font-size: 0.21rem;
}

.cla-text {
    margin-bottom: 0.32rem;
}

.cla-nam-box {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    margin-left: auto;
    width: 3rem;

}


.cla-nam {
    width: 2.6rem;
    border: none;
    color: #37B2EE;
    font-size: 0.21rem;
    margin-left: auto;
    text-align: right;
    margin-right: 0.1rem;
    background: transparent;
}

.cla-nam::placeholder {
    color: #37B2EE;
    font-size: 0.21rem;
}

.cla-nam-lab {
    width: 0.30rem;
    height: 0.30rem;
    background: url('/static/images/common/com-btn-edit.png') no-repeat;
    background-size: contain;
}


.sele-des, .cla-des {
    font-size: 0.21rem;
    margin-top: 0.34rem;
    color: #7B7B7B;
}

.sele-des:after {
    display: inline-block;
    content: '';
    height: 0.2rem;
    width: 0.30rem;
    background: url('/static/images/common/com-btn-edit-gray.png') no-repeat;
    background-size: contain;
    background-position: top 0rem left 0;
    margin-left: 0.2rem;
}



/* list-cla */

.list-cla {
    /*margin-left: 0.54rem;*/
}



.reload-box {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-justify-content: right;
    justify-content: right;
    height: 0.52rem;
    text-align: right;
    margin-bottom: 0.20rem;
}

.reload-btn {
    display: inline-block;
    width: 0.52rem;
    height: 0.52rem;
    cursor: pointer;
    background: url('/static/images/common/com-reload-btn.png') no-repeat;
    background-size: contain;
    margin-right: 0.36rem;
}



/* cla-box */

.cla-box {
    position: relative;
    width: 6.75rem;
    height: 8.16rem;
    background: #F0F0F0;
    border-radius: 0.18rem;
    padding: 0.23rem 0.09rem 0.23rem 0.23rem;

}


.cla-head {
    position: absolute;
    top: 0.23rem;
    left: 0.23rem;
    padding-bottom: 0.18rem;
    background: #F0F0F0;
}

.cla-check-area {
    width: 6.11rem;
    height: 0.93rem;
    text-align: center;
    background: #FFFFFF;
    border-radius: 0.09rem;
}

.cla-check-text {
    font-size: 0.36rem;
    padding: 0.20rem;
    color: #37B2EE;
}


.cla-scroll {
    padding-top: 1.2rem;
    max-height: 7.68rem;
    overflow-y: scroll;
}

.cla-component-box {
    max-height: 7.7rem;
}


.save-info-box {
    padding-top: 0.18rem;
    background: #F0F0F0;
}

.save-info {
    display: block;
    width: 1.59rem;
    margin: 0 auto;
    font-size: 0.25rem;
    padding: 0.18rem 0.32rem;
    margin: 0 auto;
    color: #FFFFFF;
    background: #37B2EE;
    border-radius: 0.18rem;
}




.cla-component-box {
    max-height: 5.59rem;
}


.cla-component {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    font-size: 0.25rem;
    background: #FDFDFD;
    border-radius: 0.09rem;
    margin-bottom: 0.11rem;
    text-align: center;
    width: 6.11rem;
    padding: 0.16rem 0;
    border: 0.02rem solid transparent;
}

.cla-component-active {
    background: #F2FBFF;
    border: 0.02rem solid #37B2EE;

}

.stu-num {
    font-size: 0.25rem;
    color: #BEBEBE;
}

.stu-num, .cal-check-box {
    -webkit-flex: 1;
    flex: 1;
}

.cal-check-box {
    margin-left: 0.11rem;
    width: 0.34rem;
    height: 0.34rem;
    margin-bottom: -0.02rem;
}

input[type="checkbox"].check-cla {
    width: 0.34rem;
    height: 0.34rem;
    border-radius: 0.09rem;
}


.stu-name {
    margin-left: 0.29rem;
    -webkit-flex: 6;
    flex: 6;
    color: #333333;
}

.remove-com {
    display: none;
    margin: 0 auto;
    width: 0.38rem;
    height: 0.38rem;
    background: url('/static/images/common/com-remove-trash-btn.png') no-repeat;
    background-size: contain;
}

/****** add-student ***/


.add-stu-head {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    margin-bottom: 0.2rem;
}

.add-cla-title {
    font-size: 0.36rem;
    font-weight: normal;
    color: #333333;
}

.func-des {
    position: relative;
    display: inline-block;
    width: 0.35rem;
    height: 0.35rem;
    background: url(/static/images/common/com-q-mark.png) no-repeat;
    background-size: 0.14rem 0.25rem;
    background-position: center;
    border: 0.02rem solid #999999;
    margin-left: 0.2rem;
    margin-bottom: 0.05rem;
    border-radius: 0.09rem;
}

.func-text {
    display: none;
    position: absolute;
    top: -0.75rem;
    left: 0.41rem;
    width: 3.59rem;
    color: #37B2EE;
    font-size: 0.21rem;
    padding: 0.21rem 0.23rem;
    border: 0.04rem solid #DFDFDF;
    border-radius: 0.18rem;
    background: #FDFDFD;
    transition: 300ms ease-in-out;

}

.func-des:hover .func-text {
    display: block;
    transition: 300ms ease-in-out;
}

.stu-add-area {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    margin-bottom: 0.93rem;
}

.stu-add-tab {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.stu-add-tab + .stu-add-tab {
    margin-left: 0.18rem;
}

.stu-add-tab .stu-add-component:first-child {
    border-top: 0.04rem solid #1BA7EC;
}

.stu-add-component {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    padding: 0.38rem 0;
    -webkit-align-items: center;
    align-items: center;
    font-size: 0.29rem;
    border-bottom: 0.02rem solid #DFDFDF;
}

.add-name {
    font-size: 0.29rem;
    width: 2.05rem;
    color: #333333;
    text-align: center;
}

.stu-add-paging-box {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: 0 auto;
    color: #333333;
    width: 5.93rem;
}

.stu-add-paging-box span {
    font-size: 0.29rem;
    font-weight: 300;
}


.stu-add-paging-box span.active-page {
    font-weight: 900;
}


/******** student-level-container ******/

#tog-btn {
  display: none;
}

.tog-btn-lab {
  width: 1.05rem;
  height: 0.55rem;
  border-radius: 0.29rem;
  background: #DFDFDF;
  display: inline-block;
  text-indent: -9999em;
  position: relative;
  transition:0.3s;
}

.tog-btn-lab:after{
      content:'';
      width: 0.48rem;
      height: 0.48rem;
      position: absolute;
      border-radius:50%;
      left: 0.04rem;
      top: 0.04rem;
      transition:0.3s;
        background: #FFFFFF url('/static/images/common/com-toggle-btn-off.png') no-repeat;
        background-size: 0.4rem 0.4rem;
        background-position: 52% center;
}

#tog-btn:checked + .tog-btn-lab{
  background: #1BA7EC;
}

#tog-btn:checked + .tog-btn-lab:after{
    left: 0.52rem;
    background: #FFFFFF url('/static/images/common/com-toggle-btn.png') no-repeat;
    background-size: 0.4rem 0.4rem;
    background-position: 56% center;
}


/******** student-level-box ******/

.student-level-box {
    width: 21.34rem;
    margin: 0 auto;
    margin-top: 0.54rem;
    padding-bottom: 2.5rem;
}

.popup-dimmed {
    display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
	opacity: 0.3;
    z-index: 1;
}



.stu-level-head,
.stu-level-com {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    color: #333333;
}

.stu-level-head {
    font-size: 0.32rem;
    border-top: 0.04rem solid #1BA7EC;
    padding: 0.46rem 0;
    text-align: center;
    border-bottom: 0.02rem solid #DFDFDF;
}

input[type='checkbox'].check-com {
    width: 0.45rem;
    height: 0.45rem;
}

.com-check-box {
    width: 0.45rem;
    height: 0.45rem;
}

.level-bar {
    width: 0.02rem;
    height: 0.57rem;
    background: #DFDFDF;
}

.stu-level-com {
    font-size: 0.29rem;
    padding: 0.27rem 0;
    text-align: center;
}

.stu-level-com li {
    text-align: left;
}

.head-sele,
.com-check-box {
    display: none;
    width: 1.7rem;
}

.head-name,
.com-name {
    flex: 1.2;

}

.stu-level-head .level-bar:nth-child(2),
.stu-level-com .level-bar:nth-child(2) {
    display: none;
}

.head-voca,
.head-ens,
.head-ltn,
.com-voca-select-area,
.com-englisea-select-area,
.com-ltn-select-area {
    flex: 2.17;
}


.head-pt,
.com-area {
    flex: 2.77;
}


.com-area {
    box-sizing: border-box;
    padding: 0 0.14rem;
}

.com-pt {
    padding: 0.20rem 0.75rem;
    border-radius: 0.18rem;
    background: #7DD6F61A;
    border: 0.02rem solid #7DD6F6;
}

.com-englisea-select-area,
.com-ltn-select-area,
.com-voca-select-area {
    padding: 0 0.14rem;
}


.remove-text,
.remove-answer,
.btn-yes,
.btn-no {
    font-size: 0.25rem;
    color: #333333;
}

.remove-check,
.remove-des {
    font-size: 0.21rem;
    color: #7B7B7B;
}

.remove-check {
    margin-right: 0.3rem;
}

.remove-box, .member-del, .member-btn {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-align-items: center;
    align-items: center;

}


.dvd-info-bar {
    width: 0.02rem;
    height: 0.36rem;
    background: #7DD6F6;
}

.member-del .dvd-info-bar {
    margin: 0 0.2rem;
}

.remove-box {
    margin-top: 0.23rem;
}


.member-del {
    -webkit-justify-content: space-around;
    justify-content: space-around;
    height: 0.66rem;
    background: rgba(125, 214, 246, 0.1);
    border: 0.02rem solid #7DD6F6;
    border-radius: 0.18rem;
    margin-right: 0.20rem;
    padding: 0 0.27rem;
    cursor: pointer;
}

/*.active-member {*/
/*    width: 11rem;*/
/*}*/

.member-btn {
    width: 1.75rem;
    height: 0.66rem;
    background: rgba(125, 214, 246, 0.1);
    border: 0.02rem solid #7DD6F6;
    border-radius: 0.18rem;
}

.btn-yes, .btn-no {
    flex: 1;
    text-align: center;
    cursor: pointer;
}


.remove-des {
    margin-left: 0.29rem;
}

.stu-level-paging-box {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 9.64rem;
    margin: 0 auto;
    color: #333333;
    margin-top: 0.57rem;
}

.stu-level-paging-box span {
    font-size: 0.29rem;
    font-weight: 300;
}

.stu-level-paging-box span.active-page {
    font-weight: 900;
}


.dvd-info-bar, .remove-check, .remove-answer,
.member-btn {
    display: none;
}



.page-area:nth-child(1) .page-link:nth-child(1) {
    font-weight: bold;
}

.divide-class-container, .student-level-container {
    display: none;
}

#tog-btn, .tog-btn-lab {
    display: none;
}


.divide-class-container {
    display: none;
}


