<!doctype html>
<html lang="ko">
<head>
    {% include '/common/head.html' %}
    <title>원장 서비스페이지</title>
    <link rel='stylesheet' href="/static/css/dashboard/dashboard-common.css">
    <link rel='stylesheet' href="/static/css/dashboard/dashboard-main.css">
</head>
<body>
    <div id="wrap">
        {% include '/dashboard/dashboard-header.html' %}
        <div id="container">
            <section class="aca-member-wrap">
                <div class="aca-member-box">
                    <div class="aca-member-area">
                        <div class="member-img-box">
                            <div class="member-img-area">
                                <img src="/static/images/dashboard/pc-main-member-profile.png" alt="원장이미지">
                            </div>
                        </div>
                        <div class="aca-member-info">
                            <p class="aca-member-greeting">안녕하세요,</p>
                            <h2 class="aca-member-name">International TOSEL Committee 님</h2>
                            <p class="aca-member-change">회원정보 수정하기</p>
                        </div>
                    </div>
                    <div class="placement-box">
                        <div class="placement-area">
                            <h3 class="placement-title">Placement Test</h3>
                            <p class="placement-go">반배치고사 응시하기</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="aca-content-wrap">
                <div class="aca-content-box">
                    <div class="aca-content-component">
                        <div class="content-title-area">
                            <h3 class="content-title">학습 통계 자료</h3>
                            <p class="content-title-eng">Learning Management System</p>
                        </div>
                        <div class="content-des-area">
                            <div class="content-adt">
                                <h4 class="content-adt-des">Placement Test</h4>
                                <div class="content-adt-text">결과를 한눈에.</div>
                            </div>
                            <div class="content-adt">
                                <h4 class="content-adt-des">Digital Contents</h4>
                                <div class="content-adt-text">학습레벨 설정</div>
                            </div>
                        </div>
                    </div>

                    <div class="aca-content-component">
                        <div class="content-title-area">
                            <h3 class="content-title">AI 컨설팅 자료</h3>
                            <p class="content-title-eng">Group Report</p>
                        </div>
                        <div class="content-des-area">
                            <div class="content-adt">
                                <h4 class="content-adt-des">Digital Contents</h4>
                                <div class="content-adt-text">학습 결과 통계 자료</div>
                            </div>
                            <div class="content-adt">
                                <h4 class="content-adt-des">Daily, Monthly Report</h4>
                                <div class="content-adt-text">학생 개개인의</div>
                            </div>
                        </div>
                    </div>

                    <div class="aca-content-component">
                        <div class="content-title-area">
                            <h3 class="content-title">학생 관리</h3>
                            <p class="content-title-eng">Student Management</p>
                        </div>
                        <div class="content-des-area">
                            <div class="content-adt">
                                <h4 class="content-adt-des">TOSEL 정기 시험</h4>
                                <div class="content-adt-text">결과 분석 자료</div>
                            </div>
                            <div class="content-adt">
                                <h4 class="content-adt-des">AI 컨설팅 자료</h4>
                                <div class="content-adt-text">개인 및 단체 위한</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
</body>
</html>