<!doctype html>
<html lang="ko">
<head>
    {% include '/common/head.html' %}
    <title>원장 서비스페이지</title>
    <link rel='stylesheet' href="/static/css/dashboard/dashboard-common.css">
    <link rel='stylesheet' href="/static/css/dashboard/dashboard-student-id.css">
    <link rel='stylesheet' href="/static/css/common/loading-bar.css">
</head>
<body>
    <div id="wrap">

        {% include '/dashboard/dashboard-header.html' %}
        <div id="container">
            <section class="search-wrap">
                <div class="search-box">
                    <div class="search-kind">
                        <h2 class="search-title">아이디 발급</h2>
                        <p class="search-des">*학부모 아이디는 학생 당 1개, 선생님 아이디는 선생님 당 1개씩 발급됩니다.</p>
                    </div>

                    <div class="search-container">
                        <div class="search-com-box">

                            <div class="search-area">
                                <div class="searchBox">
                                    <input class="searchText"type="search" id="search" name="q" placeholder="학생의 이름을 검색하세요">
                                    <button class="btnClear"></button>
                                </div>
                            </div>


                            <div class="select-area">
                                <div class="selectBox">
                                  <button class="label">이름/가나다순</button>
                                  <ul class="optionList">
                                      <li class="optionItem">이름/가나다순</li>
                                    <li class="optionItem">이름/최근 등록 순</li>
                                  </ul>
                                </div>
                            </div>


                            <div class="select-area">
                                <div class="selectBox">
                                  <button class="label">반별</button>
                                  <ul class="optionList">
                                    <li class="optionItem">반별</li>
                                    <li class="optionItem">Class001</li>
                                    <li class="optionItem">Class002</li>
                                    <li class="optionItem">Class003</li>
                                    <li class="optionItem">Class004</li>
                                    <li class="optionItem">Class005</li>
                                  </ul>
                                </div>
                            </div>
                        </div>

                        <div class="sele-btn-box">
                            <p class="sele-btn prt" data-target="parent">학부모 아이디 발급하기</p>
                            <p class="sele-btn tcr" data-target="teacher">선생님 아이디 발급하기</p>
                            <div class="btn-bar">
                                <div class="btn-bar-item"></div>
                            </div>
                        </div>


                            <input type="checkbox" id="tog-btn">
                            <label class="tog-btn-lab" for="tog-btn"></label>



                    </div>
                </div>
            </section>


            <div class="parent-id-container">
                <section class="parent-id-wrap">
                    <div class="parent-id-box">


                        <div class="student-check-box">
                            <div class="stu-check-area">
                                <div class="stu-check-tab">
                                    <div class="stu-check-component">
                                        <input class="all-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <p class="check-name all">이름</p>
                                    </div>
                                    <div class="stu-check-component">
                                        <input class="part-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <div class="check-box">
                                            <p class="check-name">김하나</p>
                                            <p class="check-id">kimhana@0000</p>
                                        </div>

                                    </div>
                                    <div class="stu-check-component">
                                        <input class="part-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <div class="check-box">
                                            <p class="check-name">김둘</p>
                                            <p class="check-id">kimhana@0001</p>
                                        </div>
                                    </div>
                                    <div class="stu-check-component">
                                        <input class="part-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <div class="check-box">
                                            <p class="check-name">김삼</p>
                                            <p class="check-id">kimhana@0002</p>
                                        </div>
                                    </div>
                                    <div class="stu-check-component">
                                        <input class="part-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <div class="check-box">
                                            <p class="check-name">김사</p>
                                            <p class="check-id">kimhana@0003</p>
                                        </div>
                                    </div>
                                    <div class="stu-check-component">
                                        <input class="part-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <div class="check-box">
                                            <p class="check-name">김다섯</p>
                                            <p class="check-id">kimhana@0004</p>
                                        </div>
                                    </div>
                                    <div class="stu-check-component">
                                        <input class="part-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <div class="check-box">
                                            <p class="check-name">김육</p>
                                            <p class="check-id">kimhana@0005</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="stu-check-tab">
                                    <div class="stu-check-component">
                                        <input class="all-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <p class="check-name">이름</p>
                                    </div>
                                    <div class="stu-check-component">
                                        <input class="part-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <div class="check-box">
                                            <p class="check-name">김일곱</p>
                                            <p class="check-id">kimhana@0006</p>
                                        </div>
                                    </div>
                                    <div class="stu-check-component">
                                        <input class="part-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <div class="check-box">
                                            <p class="check-name">김여덟</p>
                                            <p class="check-id">kimhana@0007</p>
                                        </div>
                                    </div>
                                    <div class="stu-check-component">
                                        <input class="part-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <div class="check-box">
                                            <p class="check-name">김아홉</p>
                                            <p class="check-id">kimhana@0008</p>
                                        </div>
                                    </div>
                                    <div class="stu-check-component">
                                        <input class="part-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <div class="check-box">
                                            <p class="check-name">김열</p>
                                            <p class="check-id">kimhana@0009</p>
                                        </div>
                                    </div>
                                    <div class="stu-check-component">
                                        <input class="part-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <div class="check-box">
                                            <p class="check-name">김십일</p>
                                            <p class="check-id">kimhana@0010</p>
                                        </div>
                                    </div>
                                    <div class="stu-check-component">
                                        <input class="part-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <div class="check-box">
                                            <p class="check-name">김십이</p>
                                            <p class="check-id">kimhana@0011</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="stu-check-tab">
                                    <div class="stu-check-component">
                                        <input class="all-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <p class="check-name">이름</p>
                                    </div>
                                    <div class="stu-check-component">
                                        <input class="part-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <div class="check-box">
                                            <p class="check-name">김십삼</p>
                                            <p class="check-id">kimhana@0012</p>
                                        </div>
                                    </div>
                                    <div class="stu-check-component">
                                        <input class="part-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <div class="check-box">
                                            <p class="check-name">김십사</p>
                                            <p class="check-id">kimhana@0013</p>
                                        </div>
                                    </div>
                                    <div class="stu-check-component">
                                        <input class="part-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <div class="check-box">
                                            <p class="check-name">김십오</p>
                                            <p class="check-id">kimhana@0014</p>
                                        </div>
                                    </div>
                                    <div class="stu-check-component">
                                        <input class="part-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <div class="check-box">
                                            <p class="check-name">김십육</p>
                                            <p class="check-id">kimhana@0015</p>
                                        </div>
                                    </div>
                                    <div class="stu-check-component">
                                        <input class="part-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <div class="check-box">
                                            <p class="check-name">김십칠</p>
                                            <p class="check-id">kimhana@0016</p>
                                        </div>
                                    </div>
                                    <div class="stu-check-component">
                                        <input class="part-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <div class="check-box">
                                            <p class="check-name">김십팔</p>
                                            <p class="check-id">kimhana@0017</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="stu-paging-box">
                                <button class="paging-prev">Previous</button>
                                <span class="active-page">1</span>
                                <span>2</span>
                                <span>3</span>
                                <span>4</span>
                                <span>5</span>
                                <span>6</span>
                                <span>7</span>
                                <span>8</span>
                                <span>9</span>
                                <span>10</span>
                                <button class="paging-next">Next</button>
                            </div>



                        </div>

                        <div class="parent-check-box">
                            <div class="parent-check-area">


                                    <div class="prt-check-head">
                                            <div class="prt-head">
                                                <button class="prt-reload"></button>
                                                <p class="prt-all-name">이름</p>
                                                <div class="check-issue-box">
                                                    <input class="all-check-issue check-issue" type="checkbox" checked>
                                                </div>
                                            </div>
                                            <div class="bottom-bar"></div>
                                    </div>
                                    <div class="scroll-bar">

                                        <div class="prt-check-component-box">

                                        </div>



                                    </div>
                                <button class="prt-check-btn">학부모 아이디 발급하기</button>


                        </div>
                            <p class="parent-check-btn-des">*선택한 학생의 학부모 아이디 일괄 발급</p>

                    </div>
                </section>

            </div>

            <div class="divide-class-container">
                <section class="divide-class-wrap">

                    <div class="divide-class-box">

                        <div class="sele-cla">
                            <h3 class="sele-text">01.분반 선택하기</h3>

                            <div class="divide-box">
                                <div class="add-cla-box">
                                    <div class="add-cla-area">
                                        <p class="add-cla-text">반 추가하기</p>
                                        <div class="add-cla-btn"></div>
                                    </div>
                                </div>

                                <div class="dvd-scroll">
                                    <div class="dvd-component-box">

                                    </div>
                                </div>

                            </div>

                            <p class="sele-des">*반마다 태그를 수정하실 수 있습니다.</p>
                        </div>



                        <div class="list-cla">
                            <div class="reload-box">
                               <button class="reload-btn"></button>
                            </div>

                            <div class="cla-box">
                                <div class="cla-head">
                                    <div class="cla-check-area">
                                        <p class="cla-check-text">Class</p>
                                    </div>
                                </div>

                                <div class="cla-scroll">
                                    <div class="cla-component-box">

                                        <button class="cla-id-issue">반을 선택해주세요</button>
                                    </div>

                                </div>

                                <div class="save-info-box">
                                    <button class="save-info">저장하기</button>
                                </div>
                            </div>

                            <p class="cla-des">*저장하시면 추가한 학생이 분반에 반영됩니다.</p>
                        </div>



                        <div class="add-student">
                            <div class="add-stu-head">
                                <h3 class="add-cla-title">02.학생 추가하기</h3>
                                <div class="func-des">
                                    <p class="func-text">*왼쪽 상단 검색창에서 학생을 검색하여 선택하실 수 있습니다.</p>
                                </div>
                            </div>

                            <div class="stu-add-area">
                                <div class="stu-add-tab">
                                    <div class="stu-add-component">
                                        <input class="all-add-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <p class="add-name">이름</p>
                                    </div>
                                    <div class="stu-add-component">
                                        <input class="part-add-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <div class="cla-add-box">
                                            <p class="add-name">김하나</p>
                                            <p class="add-id">kimhana@0000</p>
                                        </div>

                                    </div>
                                    <div class="stu-add-component">
                                        <input class="part-add-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <div class="cla-add-box">
                                            <p class="add-name">윤둘리</p>
                                            <p class="add-id">kimhana@0001</p>
                                        </div>
                                    </div>
                                    <div class="stu-add-component">
                                        <input class="part-add-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <div class="cla-add-box">
                                            <p class="add-name">송삼민</p>
                                            <p class="add-id">kimhana@0002</p>
                                        </div>
                                    </div>
                                    <div class="stu-add-component">
                                        <input class="part-add-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <div class="cla-add-box">
                                            <p class="add-name">욘사마</p>
                                            <p class="add-id">kimhana@0003</p>
                                        </div>
                                    </div>
                                    <div class="stu-add-component">
                                        <input class="part-add-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <div class="cla-add-box">
                                            <p class="add-name">오창석</p>
                                            <p class="add-id">kimhana@0004</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="stu-add-tab">
                                    <div class="stu-add-component">
                                        <input class="all-add-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <p class="add-name">이름</p>
                                    </div>
                                    <div class="stu-add-component">
                                        <input class="part-add-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <div class="cla-add-box">
                                            <p class="add-name">김하나</p>
                                            <p class="add-id">kimhana@0005</p>
                                        </div>
                                    </div>
                                    <div class="stu-add-component">
                                        <input class="part-add-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <div class="cla-add-box">
                                            <p class="add-name">윤둘리</p>
                                            <p class="add-id">kimhana@0006</p>
                                        </div>
                                    </div>
                                    <div class="stu-add-component">
                                        <input class="part-add-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <div class="cla-add-box">
                                            <p class="add-name">송삼민</p>
                                            <p class="add-id">kimhana@0007</p>
                                        </div>
                                    </div>
                                    <div class="stu-add-component">
                                        <input class="part-add-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <div class="cla-add-box">
                                            <p class="add-name">욘사마</p>
                                            <p class="add-id">kimhana@0008</p>
                                        </div>
                                    </div>
                                    <div class="stu-add-component">
                                        <input class="part-add-check check-pointer" type="checkbox"><div class="arrange-bar"></div>
                                        <div class="cla-add-box">
                                            <p class="add-name">오창석</p>
                                            <p class="add-id">kimhana@0009</p>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="stu-add-paging-box">
                                <button class="paging-prev">Previous</button>
                                <span class="active-page">1</span>
                                <span>2</span>
                                <span>3</span>
                                <span>4</span>
                                <button class="paging-next">Next</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="student-level-container">

                <section class="student-level-wrap">
                    <div class="student-level-box">

                        <div class="stu-level-head">
                            <p class="head-sele">선택</p>
                            <div class="level-bar"></div>
                            <p class="head-name">이름</p>
                            <div class="level-bar"></div>
                            <p class="head-voca">VOCA</p>
                            <div class="level-bar"></div>
                            <p class="head-ens">ENGLISEA</p>
                            <div class="level-bar"></div>
                            <p class="head-ltn">Listening</p>
                            <div class="level-bar"></div>
                            <p class="head-pt">Placement Test 결과보기</p>
                        </div>

                        <div class="stu-level-com">
                            <div class="com-check-box">
                                <input class="check-com" type="checkbox">
                            </div>
                            <div class="level-bar"></div>
                            <p class="com-name">김하나</p>

                            <div class="com-voca-select-area">
                                <div class="selectBox">
                                  <button class="label">Pre-starter</button>
                                  <ul class="optionList">
                                    <li class="optionItem">Pre-starter</li>
                                    <li class="optionItem">Starter</li>
                                    <li class="optionItem">Basic</li>
                                    <li class="optionItem">Junior</li>
                                    <li class="optionItem">High-Junior</li>
                                  </ul>
                                </div>
                            </div>

                            <div class="com-englisea-select-area">
                                <div class="selectBox">
                                  <button class="label">Pre-starter</button>
                                  <ul class="optionList">
                                    <li class="optionItem">Pre-starter</li>
                                    <li class="optionItem">Starter</li>
                                    <li class="optionItem">Basic</li>
                                    <li class="optionItem">Junior</li>
                                    <li class="optionItem">High-Junior</li>
                                  </ul>
                                </div>
                            </div>

                            <div class="com-ltn-select-area">
                                <div class="selectBox">
                                  <button class="label">---</button>
                                  <ul class="optionList">
                                    <li class="optionItem">---</li>
                                  </ul>
                                </div>
                            </div>
                            <div class='com-area'><p class="com-pt">Placement Test결과보기</p></div>
                        </div>

                        <div class="stu-level-com">
                            <div class="com-check-box">
                                <input class="check-com" type="checkbox">
                            </div>
                            <div class="level-bar"></div>
                            <p class="com-name">김하나</p>

                            <div class="com-voca-select-area">
                                <div class="selectBox">
                                  <button class="label">Pre-starter</button>
                                  <ul class="optionList">
                                    <li class="optionItem">Pre-starter</li>
                                    <li class="optionItem">Starter</li>
                                    <li class="optionItem">Basic</li>
                                    <li class="optionItem">Junior</li>
                                    <li class="optionItem">High-Junior</li>
                                  </ul>
                                </div>
                            </div>

                            <div class="com-englisea-select-area">
                                <div class="selectBox">
                                  <button class="label">Pre-starter</button>
                                  <ul class="optionList">
                                    <li class="optionItem">Pre-starter</li>
                                    <li class="optionItem">Starter</li>
                                    <li class="optionItem">Basic</li>
                                    <li class="optionItem">Junior</li>
                                    <li class="optionItem">High-Junior</li>
                                  </ul>
                                </div>
                            </div>

                            <div class="com-ltn-select-area">
                                <div class="selectBox">
                                  <button class="label">---</button>
                                  <ul class="optionList">
                                    <li class="optionItem">---</li>
                                    <li class="optionItem">---</li>
                                    <li class="optionItem">---</li>
                                    <li class="optionItem">---</li>
                                    <li class="optionItem">---</li>
                                  </ul>
                                </div>
                            </div>
                            <div class='com-area'><p class="com-pt">Placement Test결과보기</p></div>
                        </div>

                        <div class="stu-level-com">
                            <div class="com-check-box">
                                <input class="check-com" type="checkbox">
                            </div>
                            <div class="level-bar"></div>
                            <p class="com-name">김하나</p>

                            <div class="com-voca-select-area">
                                <div class="selectBox">
                                  <button class="label">Pre-starter</button>
                                  <ul class="optionList">
                                    <li class="optionItem">Pre-starter</li>
                                    <li class="optionItem">Starter</li>
                                    <li class="optionItem">Basic</li>
                                    <li class="optionItem">Junior</li>
                                    <li class="optionItem">High-Junior</li>
                                  </ul>
                                </div>
                            </div>

                            <div class="com-englisea-select-area">
                                <div class="selectBox">
                                  <button class="label">Pre-starter</button>
                                  <ul class="optionList">
                                    <li class="optionItem">Pre-starter</li>
                                    <li class="optionItem">Starter</li>
                                    <li class="optionItem">Basic</li>
                                    <li class="optionItem">Junior</li>
                                    <li class="optionItem">High-Junior</li>
                                  </ul>
                                </div>
                            </div>

                            <div class="com-ltn-select-area">
                                <div class="selectBox">
                                  <button class="label">---</button>
                                  <ul class="optionList">
                                    <li class="optionItem">---</li>
                                    <li class="optionItem">---</li>
                                    <li class="optionItem">---</li>
                                    <li class="optionItem">---</li>
                                    <li class="optionItem">---</li>
                                  </ul>
                                </div>
                            </div>
                            <div class='com-area'><p class="com-pt">Placement Test결과보기</p></div>
                        </div>

                        <div class="stu-level-com">
                            <div class="com-check-box">
                                <input class="check-com" type="checkbox">
                            </div>
                            <div class="level-bar"></div>
                            <p class="com-name">김하나</p>

                            <div class="com-voca-select-area">
                                <div class="selectBox">
                                  <button class="label">Pre-starter</button>
                                  <ul class="optionList">
                                    <li class="optionItem">Pre-starter</li>
                                    <li class="optionItem">Starter</li>
                                    <li class="optionItem">Basic</li>
                                    <li class="optionItem">Junior</li>
                                    <li class="optionItem">High-Junior</li>
                                  </ul>
                                </div>
                            </div>

                            <div class="com-englisea-select-area">
                                <div class="selectBox">
                                  <button class="label">Pre-starter</button>
                                  <ul class="optionList">
                                    <li class="optionItem">Pre-starter</li>
                                    <li class="optionItem">Starter</li>
                                    <li class="optionItem">Basic</li>
                                    <li class="optionItem">Junior</li>
                                    <li class="optionItem">High-Junior</li>
                                  </ul>
                                </div>
                            </div>

                            <div class="com-ltn-select-area">
                                <div class="selectBox">
                                  <button class="label">---</button>
                                  <ul class="optionList">
                                    <li class="optionItem">---</li>
                                    <li class="optionItem">---</li>
                                    <li class="optionItem">---</li>
                                    <li class="optionItem">---</li>
                                    <li class="optionItem">---</li>
                                  </ul>
                                </div>
                            </div>
                            <div class='com-area'><p class="com-pt">Placement Test결과보기</p></div>
                        </div>

                        <div class="stu-level-com">
                            <div class="com-check-box">
                                <input class="check-com" type="checkbox">
                            </div>
                            <div class="level-bar"></div>
                            <p class="com-name">김하나</p>

                            <div class="com-voca-select-area">
                                <div class="selectBox">
                                  <button class="label">Pre-starter</button>
                                  <ul class="optionList">
                                    <li class="optionItem">Pre-starter</li>
                                    <li class="optionItem">Starter</li>
                                    <li class="optionItem">Basic</li>
                                    <li class="optionItem">Junior</li>
                                    <li class="optionItem">High-Junior</li>
                                  </ul>
                                </div>
                            </div>

                            <div class="com-englisea-select-area">
                                <div class="selectBox">
                                  <button class="label">Pre-starter</button>
                                  <ul class="optionList">
                                    <li class="optionItem">Pre-starter</li>
                                    <li class="optionItem">Starter</li>
                                    <li class="optionItem">Basic</li>
                                    <li class="optionItem">Junior</li>
                                    <li class="optionItem">High-Junior</li>
                                  </ul>
                                </div>
                            </div>

                            <div class="com-ltn-select-area">
                                <div class="selectBox">
                                  <button class="label">---</button>
                                  <ul class="optionList">
                                    <li class="optionItem">---</li>
                                    <li class="optionItem">---</li>
                                    <li class="optionItem">---</li>
                                    <li class="optionItem">---</li>
                                    <li class="optionItem">---</li>
                                  </ul>
                                </div>
                            </div>
                            <div class='com-area'><p class="com-pt">Placement Test결과보기</p></div>
                        </div>

                        <div class="stu-level-com">
                            <div class="com-check-box">
                                <input class="check-com" type="checkbox">
                            </div>
                            <div class="level-bar"></div>
                            <p class="com-name">김하나</p>

                            <div class="com-voca-select-area">
                                <div class="selectBox">
                                  <button class="label">Pre-starter</button>
                                  <ul class="optionList">
                                    <li class="optionItem">Pre-starter</li>
                                    <li class="optionItem">Starter</li>
                                    <li class="optionItem">Basic</li>
                                    <li class="optionItem">Junior</li>
                                    <li class="optionItem">High-Junior</li>
                                  </ul>
                                </div>
                            </div>

                            <div class="com-englisea-select-area">
                                <div class="selectBox">
                                  <button class="label">Pre-starter</button>
                                  <ul class="optionList">
                                    <li class="optionItem">Pre-starter</li>
                                    <li class="optionItem">Starter</li>
                                    <li class="optionItem">Basic</li>
                                    <li class="optionItem">Junior</li>
                                    <li class="optionItem">High-Junior</li>
                                  </ul>
                                </div>
                            </div>

                            <div class="com-ltn-select-area">
                                <div class="selectBox">
                                  <button class="label">---</button>
                                  <ul class="optionList">
                                    <li class="optionItem">---</li>
                                    <li class="optionItem">---</li>
                                    <li class="optionItem">---</li>
                                    <li class="optionItem">---</li>
                                    <li class="optionItem">---</li>
                                  </ul>
                                </div>
                            </div>
                            <div class='com-area'><p class="com-pt">Placement Test결과보기</p></div>
                        </div>

                        <div class="remove-box">
                            <div class="member-del">
                                <p class="remove-text">회원 삭제</p>
                                <span class="dvd-info-bar"></span>
                                <p class="remove-check">선택한 학생의 등원 정보 및 분반 정보가 일괄 삭제되며 복구할 수 없습니다.</p>
                                <p class="remove-answer">삭제하시겠습니까?</p>
                            </div>
                            <div class="member-btn">
                                <div class="btn-yes btn-remove" data-target="yes">예</div>
                                <span class="dvd-info-bar"></span>
                                <div class="btn-no btn-remove" data-target="no">취소</div>
                            </div>
                            <span class="remove-des">*선택한 학생의 등원 정보 일괄 삭제</span>
                        </div>


                        <div class="stu-level-paging-box">
                            <button class="paging-prev">Previous</button>
                            <span class="active-page">1</span>
                            <span>1</span>
                            <span>1</span>
                            <span>1</span>
                            <span>1</span>
                            <span>1</span>
                            <span>1</span>
                            <span>1</span>
                            <span>1</span>
                            <span>1</span>
                            <button class="paging-next">Next</button>
                        </div>
                    </div>
                </section>

                <div class="popup-dimmed"></div>
            </div>
        </div>

    </div>

<script>
let stuId = ['아이디 발급', '*학부모 아이디는 학생 당 1개, 선생님 아이디는 선생님 당 1개씩 발급됩니다.'];
    let stuLevelText = ['학생 레벨 설정', '*설정하신대로 Digital Contents Level이 변경됩니다.'];
    let stuClassText = ['분반 관리', '*분반을 추가하면 자동으로 선생님 아이디가 발급됩니다.'];
    function stuChangeId() {
        $('.search-title').text(stuId[0]);
        $('.search-des').text(stuId[1]);
        $('.sele-btn-box').fadeIn();
        $('.select-area').fadeIn();
        $('.page-area:nth-child(1) .page-link').css('font-weight', 'normal');
        $('.page-area:nth-child(1) .page-link:nth-child(1)').css('font-weight', 'bold');
        $('#tog-btn').fadeOut(1);
        $('.tog-btn-lab').fadeOut(1);
        $('.student-level-container').fadeOut(1);
        $('.divide-class-container').fadeOut(1);
        $('.parent-id-container').fadeIn();
        $('.btn-bar').animate({left: '0'}, 10);
        $('.sele-btn.prt').css('color', '#37B2EE');
        $('.sele-btn.tcr').css('color', '#FFFFFF');

        //data-target들 변경해주기, searchText/ searcharea
    };

    //학생레벨 페이지 fadein
    function stuChangeLevel() {
        $('.page-area:nth-child(1) .page-link').css('font-weight', 'normal');
        $('.page-area:nth-child(1) .page-link:nth-child(2)').css('font-weight', 'bold');
        $('.search-title').text(stuLevelText[0]);
        $('.search-des').text(stuLevelText[1]);
        $('.sele-btn-box').fadeOut(1);
        $('.select-area').fadeIn();
        $('.tog-btn-lab').fadeIn();
        $('.divide-class-container').fadeOut(1);
        $('.parent-id-container').fadeOut(1);
        $('.student-level-container').fadeIn();
        $('.btn-bar').animate({left: '3.07rem'}, 10);
        $('.sele-btn.tcr').css('color', '#37B2EE');
        $('.sele-btn.prt').css('color', '#FFFFFF');

        //data-target들 변경해주기, searchText/ searcharea
    };

    //분반 관리 페이지 fadein
    function stuChangeClass() {
        $('.page-area:nth-child(1) .page-link').css('font-weight', 'normal');
        $('.page-area:nth-child(1) .page-link:nth-child(3)').css('font-weight', 'bold');
        $('.search-title').text(stuClassText[0]);
        $('.search-des').text(stuClassText[1]);
        $('.sele-btn-box').fadeIn();
        $('.select-area:nth-child(3)').fadeOut(1);
        $('#tog-btn').fadeOut(1);
        $('.tog-btn-lab').fadeOut(1);
        $('.student-level-container').fadeOut(1);
        $('.parent-id-container').fadeOut(1);
        $('.divide-class-container').fadeIn();
        $('.btn-bar').animate({left: '3.07rem'}, 10);
        $('.sele-btn.tcr').css('color', '#37B2EE');
        $('.sele-btn.prt').css('color', '#FFFFFF');

        //data-target들 변경해주기, searchText/ searcharea
    };

    function showPage(p){
         if(parseInt(p) == 1){
            stuChangeId();
        }
        else if(parseInt(p) == 2){
            stuChangeLevel();
        }
        else if(parseInt(p) == 3) {
             stuChangeClass();
         }
    }

    $(document).ready(function(){
        {% if page %}
            showPage({{page}});
        {% else %}
            showPage(1);
        {% endif %}
    });
</script>

<script src="/static/js/dashboard/student-id-jinja.js"></script>
<script src="/static/js/common/selectbox.js"></script>
<script src="/static/js/dashboard/slide-menu.js"></script>
<script src="/static/js/dashboard/student-id.js"></script>


</body>
</html>