<div id="header">
    <header class="head-area">
            <div class="logo-box flex-arr">
                <h1 class="blind">TOSEL LAB</h1>
                <img class="m-tosel-logo" src="/static/images/common/pc-logo-tosel-lab.png" alt="토셀로고">
                <img class="pc-tosel-logo" src="/static/images/common/pc-logo-tosel-lab.png" alt="토셀로고">
            </div>


            <div class="page-box flex-arr">

                <div class="page-area">
                    <div class="page-over">
                        <div class="page-item">학생 관리</div>
                    </div>
                    <ul class="page-links">
                        <li class="page-link">아이디 발급</li>
                        <li class="page-link">학생 레벨 설정</li>
                        <li class="page-link">분반 관리</li>
                    </ul>
                </div>

                <div class="page-area">
                    <div class="page-over">
                        <div class="page-item">학습 통계 자료</div>
                    </div>
                    <ul class="page-links">
                        <li class="page-link">ENGLISEA</li>
                        <li class="page-link">VOCA</li>
                    </ul>
                </div>

                <div class="page-area">
                    <div class="page-over">
                        <div class="page-item">AI 컨설팅 자료</div>
                    </div>
                </div>

                <div class="page-bar"></div>

            </div>

            <nav class="dash-nav-box flex-arr">

                <div class="dash-nav-item"><a href="#" class="nav-link block">TOSEL</a></div>

                <div class="dash-nav-item"><a href="#" class="nav-link">ENG/KOR</a></div>

                <div class="dash-nav-item"><a href="#" class="nav-link">FAQ</a></div>


            </nav>
        </header>
</div>