<!doctype html>
<html lang="ko">
<head>
    {% include '/common/head.html' %}
    <title>원장 서비스페이지</title>
    <link rel='stylesheet' href="/static/css/dashboard/dashboard-common.css">
    <link rel='stylesheet' href="/static/css/dashboard/dashboard-study-analy.css">
</head>
<body>
    <div id="wrap">
        {% include '/dashboard/dashboard-header.html' %}
        <div id="container">
            <section class="search-wrap">
                <div class="search-box">
                    <div class="search-kind">
                        <h2 class="search-title">학습통계자료 - VOCA</h2>
                        <p class="search-des">*학생별 VOCA 학습 통계 자료를 조회하실 수 있습니다.</p>
                    </div>

                    <div class="search-container">
                        <div class="search-com-box">

                            <div class="search-area">
                                <div class="searchBox">
                                    <input class="searchText"type="search" id="search" name="q" placeholder="학생의 이름을 검색하세요">
                                    <button class="btnClear"></button>
                                </div>
                            </div>


                            <div class="select-container">

                                <div class="select-area">
                                    <div class="selectBox">
                                      <button class="label">이름/가나다순</button>
                                      <ul class="optionList">
                                        <li class="optionItem">apple</li>
                                        <li class="optionItem">orange</li>
                                        <li class="optionItem">grape</li>
                                        <li class="optionItem">melon</li>
                                      </ul>
                                    </div>
                                </div>


                                <div class="select-area">
                                    <div class="selectBox">
                                      <button class="label">반별</button>
                                      <ul class="optionList">
                                        <li class="optionItem">apple</li>
                                        <li class="optionItem">orange</li>
                                        <li class="optionItem">grape</li>
                                        <li class="optionItem">melon</li>
                                      </ul>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>
                </div>
            </section>


            <div class="parent-id-container">
                <section class="parent-id-wrap">
                    <div class="parent-id-box">


                        <div class="student-check-box">
                            <div class="stu-check-area">
                                <div class="stu-check-tab">

                                    <div class="stu-check-head-component">
                                        <p class="check-head-name">이름</p>
                                        <div class="arrange-bar"></div>
                                        <p class="check-head-analy">학습 통계 자료 보기</p>
                                    </div>
                                    <div class="stu-check-component">
                                        <p class="check-name">이름</p><div class="arrange-bar"></div>
                                        <div class='check-analy-box'>
                                            <button class="check-analy">학습 통계 자료 보기</button>
                                        </div>
                                    </div>
                                    <div class="stu-check-component">
                                        <p class="check-name">이름</p><div class="arrange-bar"></div>
                                        <div class='check-analy-box'><button class="check-analy">학습 통계 자료 보기</button></div>
                                    </div>
                                    <div class="stu-check-component">
                                        <p class="check-name">이름</p><div class="arrange-bar"></div>
                                        <div class='check-analy-box'><button class="check-analy">학습 통계 자료 보기</button></div>
                                    </div>
                                    <div class="stu-check-component">
                                        <p class="check-name">이름</p><div class="arrange-bar"></div>
                                        <div class='check-analy-box'><button class="check-analy">학습 통계 자료 보기</button></div>
                                    </div>
                                    <div class="stu-check-component">
                                        <p class="check-name">이름</p><div class="arrange-bar"></div>
                                        <div class='check-analy-box'><button class="check-analy">학습 통계 자료 보기</button></div>
                                    </div>
                                    <div class="stu-check-component">
                                        <p class="check-name">이름</p><div class="arrange-bar"></div>
                                        <div class='check-analy-box'><button class="check-analy">학습 통계 자료 보기</button></div>
                                    </div>
                                </div>

                                <div class="stu-check-tab">
                                    <div class="stu-check-head-component">
                                        <p class="check-head-name">이름</p>
                                        <div class="arrange-bar"></div>
                                        <p class="check-head-analy">학습 통계 자료 보기</p>
                                    </div>
                                    <div class="stu-check-component">
                                        <p class="check-name">이름</p><div class="arrange-bar"></div>
                                        <div class='check-analy-box'><button class="check-analy">학습 통계 자료 보기</button></div>
                                    </div>
                                    <div class="stu-check-component">
                                        <p class="check-name">이름</p><div class="arrange-bar"></div>
                                        <div class='check-analy-box'><button class="check-analy">학습 통계 자료 보기</button></div>
                                    </div>
                                    <div class="stu-check-component">
                                        <p class="check-name">이름</p><div class="arrange-bar"></div>
                                        <div class='check-analy-box'><button class="check-analy">학습 통계 자료 보기</button></div>
                                    </div>
                                    <div class="stu-check-component">
                                        <p class="check-name">이름</p><div class="arrange-bar"></div>
                                        <div class='check-analy-box'><button class="check-analy">학습 통계 자료 보기</button></div>
                                    </div>
                                    <div class="stu-check-component">
                                        <p class="check-name">이름</p><div class="arrange-bar"></div>
                                        <div class='check-analy-box'><button class="check-analy">학습 통계 자료 보기</button></div>
                                    </div>
                                    <div class="stu-check-component">
                                        <p class="check-name">이름</p><div class="arrange-bar"></div>
                                        <div class='check-analy-box'><button class="check-analy">학습 통계 자료 보기</button></div>
                                    </div>
                                </div>

                                <div class="stu-check-tab">
                                    <div class="stu-check-head-component">
                                        <p class="check-head-name">이름</p>
                                        <div class="arrange-bar"></div>
                                        <p class="check-head-analy">학습 통계 자료 보기</p>
                                    </div>
                                    <div class="stu-check-component">
                                        <p class="check-name">이름</p><div class="arrange-bar"></div>
                                        <div class='check-analy-box'><button class="check-analy">학습 통계 자료 보기</button></div>
                                    </div>
                                    <div class="stu-check-component">
                                        <p class="check-name">이름</p><div class="arrange-bar"></div>
                                        <div class='check-analy-box'><button class="check-analy">학습 통계 자료 보기</button></div>
                                    </div>
                                    <div class="stu-check-component">
                                        <p class="check-name">이름</p><div class="arrange-bar"></div>
                                        <div class='check-analy-box'><button class="check-analy">학습 통계 자료 보기</button></div>
                                    </div>
                                    <div class="stu-check-component">
                                        <p class="check-name">이름</p><div class="arrange-bar"></div>
                                        <div class='check-analy-box'><button class="check-analy">학습 통계 자료 보기</button></div>
                                    </div>
                                    <div class="stu-check-component">
                                        <p class="check-name">이름</p><div class="arrange-bar"></div>
                                        <div class='check-analy-box'><button class="check-analy">학습 통계 자료 보기</button></div>
                                    </div>
                                    <div class="stu-check-component">
                                        <p class="check-name">이름</p><div class="arrange-bar"></div>
                                        <div class='check-analy-box'><button class="check-analy">학습 통계 자료 보기</button></div>
                                    </div>
                                </div>
                            </div>


                            <div class="stu-paging-box">
                                <button class="paging-prev">Previous</button>
                                <span class="active-page">1</span>
                                <span>1</span>
                                <span>1</span>
                                <span>1</span>
                                <span>1</span>
                                <span>1</span>
                                <span>1</span>
                                <span>1</span>
                                <span>1</span>
                                <span>1</span>
                                <button class="paging-next">Next</button>
                            </div>
                        </div>



                    </div>
                </section>

            </div>

            <iframe width=390, height="890" src="https://www.youtube.com/embed/tPSFLt31oVI" title="YouTube video player" name="cocojuan" id="cocojuan" aligh="middle"> iframe이 있어던 자리 입니다 </iframe>




        </div>

    </div>


<script src="/static/js/common/selectbox.js"></script>
<script src="/static/js/dashboard/slide-menu.js"></script>
<script>



</script>
</body>
</html>