<div id="header">
    <header class="head-area">
            <div class="logo-box flex-arr">
                <h1 class="blind">TOSEL LAB</h1>
                <img class="m-tosel-logo" src="/static/images/common/pc-logo-tosel-lab.png" alt="토셀로고">
                <img class="pc-tosel-logo" src="/static/images/common/pc-logo-tosel-lab.png" alt="토셀로고">
            </div>


            <div class="page-box flex-arr">

                <div class="page-area stu">
                    <div class="page-over">
                        <div class="page-item">학생 관리</div>
                    </div>
                    <div class="page-link-box">
                        <ul class="page-links">
                            <li class="page-link" data-page="1">아이디 발급</li>
                            <li class="page-link" data-page="2">학생 레벨 설정</li>
                            <li class="page-link" data-page="3">분반 관리</li>
                        </ul>
                    </div>
                     <div class="page-bar"></div>
                </div>

                <div class="page-area lms">
                    <div class="page-over">
                        <div class="page-item">학습 통계 자료</div>
                    </div>
                    <div class="page-link-box">
                        <ul class="page-links">
                            <li class="page-link" data-page="1">ENGLISEA</li>
                            <li class="page-link" data-page="2">VOCA</li>
                        </ul>
                    </div>
                    <div class="page-bar"></div>
                </div>

                <div class="page-area ai">
                    <div class="page-over">
                        <div class="page-item" data-page="1">AI 컨설팅 자료</div>
                    </div>
                    <div class="page-bar"></div>
                </div>


            </div>

            <nav class="dash-nav-box flex-arr">

                <div class="dash-nav-item"><a href="#" class="nav-link block">TOSEL</a></div>

                <div class="dash-nav-item"><a href="#" class="nav-link">ENG/KOR</a></div>

                <div class="dash-nav-item"><a href="#" class="nav-link">FAQ</a></div>


            </nav>

</div>

<script>


$(document).on('click', '.page-area.lms .page-link', function() {
    location.href ='/dashboard_analy?page=' + $(this).data('page');
});

$(document).on('click', '.page-area.ai .page-item', function() {
    location.href ='/dashboard_ai?page=' + $(this).data('page');
});

</script>