<link rel="stylesheet" href="/static/css/menu/service-ai.css">

<section class="contents-wrap">
    <div class="contents-box">
        <h3 class="contents-title">AI 컨설팅 지료</h3>
        <p class="contents-des">정기 시험 분석 자료</p>
        <button class="contents-go">학습 바로가기</button>
    </div>

    <div class="bar-area">
        <div class="bar-box">
            <div class="bar-item bar-text-active" data-item="ai-grp-wrap">단체 컨설팅 자료</div>
            <div class="bar-division"></div>
            <div class="bar-item" data-item="ai-prs-wrap">개인 컨설팅 자료</div>
        </div>

        <div class="indicate-box">
            <div class="indicate-item"></div>
        </div>
    </div>
</section>


<div class="ai-container">
    <div class="ai-content-wrap">
        <section class="ai-intro-wrap">
            <div class="ai-intro-box">

                <div class="ai-intro-img-box">
                    <img class="lazy lz-entered lz-loaded" data-src="/static/images/menu/pc-content-ai-intr-prs-main.png" src="/static/images/menu/pc-content-ai-intr-prs-main.png" alt="엘엠에스보카휴대폰목업">
                </div>
            </div>
        </section>
    </div>
</div>

<script src="/static/js/menu/service-content-ai.js"></script>