<link rel="stylesheet" href="/static/css/menu/service-book.css">

<section class="contents-wrap">
    <div class="contents-box">
        <h3 class="contents-title">Book Contents</h3>
        <p class="contents-des">오프라인 영어 성장 플랫폼</p>
        <button class="contents-go">교재몰 바로가기</button>
    </div>

    <div class="bar-area">
        <div class="bar-box">
            <div class="bar-item bar-text-active" data-item="lms-englisea-wrap">Reading Series</div>
            <div class="bar-division"></div>
            <div class="bar-item" data-item="lms-voca-wrap">VOCA Series</div>
            <div class="bar-division"></div>
            <div class="bar-item" data-item="lms-voca-wrap">Grammer Series</div>
        </div>

        <div class="indicate-box">
            <div class="indicate-item"></div>
        </div>
    </div>
</section>


<div class="book-container">
    <div class="book-content-wrap">
        <section class="book-intro-wrap">
            <div class="book-intro-text">
                <div class="book-intro-title-box">
                    <h4 class="book-intro-title">Reading Series</h4>
                    <div class="book-intro-title-deco"></div>
                </div>

                <p class="book-intro-des-first">읽기는 되지만</p>
                <p class="book-intro-des-second">독해가 부족한 사람들을 위한 추천서</p>
                <span class="scroll-indicate">Scroll Down</span>
            </div>
            <div class="book-intro-img-box asyncImage">
                <img class="asyncImage" src="/static/images/menu/pc-content-book-intro-reading.png" alt="엘엠에스보카로고">
            </div>
        </section>

        <section class="book-des-wrap">
            <div class="book-des-box">
                <h4 class="book-des-benefit">특장점</h4>
                <p class="book-des-bene-item">각 단어 학습 도입부에 주제와 관련된 이미지와 질문에 대해 말하기 연습</p>
                <p class="book-des-bene-item">각 Unit의 목표 단어가 레벨별로 4-6개 제시, 그림 또는 영문으로 단어 뜻을 제공하여 독해학습 전에 단어 숙지</p>
                <p class="book-des-bene-item">같은 주제로 독해와 실용문을 모두 독해 연습할 수 있는 지문과 함께 Comprehension 문항을 10개씩 수록하여 이해도 확인 및 진단</p>
                <p class="book-des-bene-item">숙지한 독해지문을 원어민 음성으로 들으며 듣기 전, 듣기 중, 듣기 후 활동을 통해 듣기 학습</p>
                <p class="book-des-bene-item">단어 복습 및 요약연습을 통해 쓰기 연습</p>
            </div>
        </section>

        <section></section>

        <section class="lms-config-wrap">
            <div class="lms-config-box">
                <h4 class="lms-config-title">학습통계자료 구성</h4>
                <div class="lms-config-pin-box">
                    <div class="lms-config-pin"></div>
                </div>

                <div class="lms-config-list">
                    <div class="lms-config-item">
                        <div class="lms-config-img-box asyncImage">
                            <img class="asyncImage" src="/static/images/menu/pc-content-lms-voca-config-study.png" alt="엘엠에스학습현황">
                        </div>

                        <p class="lms-config-item-title">학습 현황</p>
                        <p class="lms-config-item-des">학생의 디지털 컨텐츠 학습 현황을 한번에 파악할 수 있습니다.</p>
                        <button class="lms-config-item-btn">더 알아보기</button>
                    </div>

                    <div class="lms-config-item">
                        <div class="lms-config-img-box asyncImage">
                            <img class="asyncImage" src="/static/images/menu/pc-content-lms-voca-config-daily.png" alt="엘엠에스일보고사">
                        </div>

                        <p class="lms-config-item-title">Daily Report</p>
                        <p class="lms-config-item-des">매일마다 체크할 수 있는 오답률/정답률과 단어 습득률을 제공하여, 지속적인 관리를 도와줍니다.</p>
                        <button class="lms-config-item-btn">더 알아보기</button>
                    </div>

                    <div class="lms-config-item">
                        <div class="lms-config-img-box asyncImage">
                            <img class="asyncImage" src="/static/images/menu/pc-content-lms-voca-config-monthly.png" alt="엘엠에스월보고서">
                        </div>

                        <p class="lms-config-item-title">학습 현황</p>
                        <p class="lms-config-item-des">축적된 데이터로 정확하고 신뢰성 있는 학습 진단과 학습법을 제공하여, 학생들이 학습 목표를 정하는 데 도움을 줍니다. </p>
                        <button class="lms-config-item-btn">더 알아보기</button>
                    </div>
                </div>
            </div>

        </section>

        <section class="lms-cur-wrap">
            <div class="lms-cur-box">
                <div class="cur-img-box asyncImage">
                    <img class="asyncImage" src="/static/images/menu/pc-content-lms-voca-cur.png" alt="학습현황학습통계">
                </div>
                <div class="cur-background"></div>
            </div>
        </section>

        <section class="lms-daily-wrap">
            <div class="lms-daily-box">
                <div class="daily-img-box asyncImage">
                    <img class='asyncImage' src="/static/images/menu/pc-content-lms-voca-daily.png" alt="일일학습통계">
                </div>
            </div>
        </section>

        <section class="lms-monthly-wrap">
            <div class="lms-monthly-box">
                <div class="monthly-img-box asyncImage">
                    <img class="asyncImage" src="/static/images/menu/pc-content-lms-voca-monthly.png" alt="월간학습통계">
                </div>
                <div class="monthly-background"></div>
            </div>
        </section>

        <section class="lms-join-wrap asyncImage">
            <div class="lms-join-box">
                <h4 class="join-title">학생의 평균 학습률 파악을 쉽고 빠르게.</h4>
                <p class="join-des">학생의 위치와 결점을 종합적으로 분석하여, 이를 토대로 학습 진단을
할 수 있는 <strong>학습 통계 자료</strong>를 이제 토셀이 제공합니다.</p>
                <div class="join-pin-box">
                    <div class="join-pin"></div>
                </div>

                <div class="join-btn-box">
                    <button class="join-btn join">가입 하러가기</button>
                    <button class="join-btn more">서비스 더보기</button>
                </div>

            </div>

        </section>

    </div>
</div>