<link rel="stylesheet" href="/static/css/menu/service-book.css">

<section class="contents-wrap">
    <div class="contents-box">
        <h3 class="contents-title">Book Contents</h3>
        <p class="contents-des">오프라인 영어 성장 플랫폼</p>
        <button class="contents-go">교재몰 바로가기</button>
    </div>

    <div class="bar-area">
        <div class="bar-box">
            <div class="bar-item bar-text-active" data-item="bk-read-wrap">Reading Series</div>
            <div class="bar-division"></div>
            <div class="bar-item" data-item="bk-voca-wrap">VOCA Series</div>
            <div class="bar-division"></div>
            <div class="bar-item" data-item="bk-gram-wrap">Grammer Series</div>
        </div>

        <div class="indicate-box">
            <div class="indicate-item"></div>
        </div>
    </div>

    <div class="scd-box">
        <button class="scd-btn">Scroll Down</button>
    </div>
</section>


<div class="book-container">
    <div class="book-content-wrap">
        <section class="book-intro-wrap">
            <div class="book-intro-box">

                 <div class="book-intro-img-back">
                    <img class="lazy lz-entered lz-loaded" data-src="/static/images/menu/pc-content-bk-intr-back.png" src="/static/images/menu/pc-content-bk-intr-back.png" alt="백그라운드">
                </div>

                <div class="book-intro-img-box">
                    <img class="lazy lz-entered lz-loaded" data-src="/static/images/menu/pc-content-bk-intr-read.png" src="/static/images/menu/pc-content-bk-intr-read.png" alt="리딩시리즈소개">
                </div>

                <div class="btn-bk-intro-box">
                    <button class="btn-bkm"><span class="blind">교재몰 바로가기</span></button>
                </div>



                <div class="book-intro-text blind">
                    <div class="book-intro-title-box">
                        <h4 class="book-intro-title">Reading Series</h4>
                        <div class="book-intro-title-deco"></div>
                    </div>

                    <p class="book-intro-des-first">읽기는 되지만</p>
                    <p class="book-intro-des-second">독해가 부족한 사람들을 위한 추천서</p>
                </div>
            </div>
        </section>

        <section class="book-avt-wrap">
            <div class="book-avt-box">

                <div class="book-avt-img-box">
                    <img class="lazy lz-entered lz-loaded" data-src="/static/images/menu/pc-content-bk-read-avt.png" src="/static/images/menu/pc-content-bk-read-avt.png" alt="리딩시리즈특장점">
                </div>
            </div>
        </section>

        <section class="book-des-wrap">
            <div class="book-des-box">
                <div class="book-des-img-box">
                    <img class="lazy lz-entered lz-loaded" data-src="/static/images/menu/pc-content-bk-read-des.png" src="/static/images/menu/pc-content-bk-read-des.png" alt="리딩시리즈설명">
                </div>
            </div>
        </section>


        <section class="book-info-wrap">
            <div class="book-info-box">
                <div class="book-info-img-box">
                    <img class="lazy lz-entered lz-loaded" data-src="/static/images/menu/pc-content-bk-read-info.png" src="/static/images/menu/pc-content-bk-read-info.png" alt="리딩시리즈정보">
                </div>
            </div>
        </section>

        <section class="book-buy-wrap">
            <div class="book-buy-box">
                <div class="book-buy-img-box">
                    <img class="lazy lz-entered lz-loaded" data-src="/static/images/menu/pc-content-bk-read-buy.png" src="/static/images/menu/pc-content-bk-read-buy.png" alt="리딩시리즈구매정보">
                </div>
            </div>
        </section>


    </div>
</div>

<script src="/static/js/menu/service-content-book.js"></script>