<link rel="stylesheet" href="/static/css/menu/service-lms.css">

<section class="contents-wrap">
    <div class="contents-box">
        <h3 class="contents-title">학습통계자료</h3>
        <p class="contents-des">디지털 학습 분석 자료</p>
        <button class="contents-go">학습 바로가기</button>
    </div>

    <div class="bar-area">
        <div class="bar-box">
            <div class="bar-item bar-text-active">ENGLISEA</div>
            <div class="bar-division"></div>
            <div class="bar-item">VOCA Series</div>
        </div>

        <div class="indicate-box">
            <div class="indicate-item"></div>
        </div>
    </div>
</section>


<div class="lms-container">
    <div class="lms-voca-wrap">
        <section class="lms-voca-logo-wrap">
            <div class="lms-voca-logo-box">
                <img src="/static/images/menu/pc-content-lms-voca.png" alt="엘엠에스보카로고">
            </div>
        </section>

        <section class="lms-voca-intro-wrap">
            <div class="lms-voca-intro-box">
                <div class="lms-voca-intro-space">
                    <div class="lms-voca-intro-img">
                        <img src="/static/images/menu/pc-content-lms-voca-intro-img.png" alt="엘엠에스보카휴대폰목업">
                    </div>
                </div>

                <div class="lms-voca-intro-text">
                    <p class="lms-voca-intro-text-title">VOCA Series</p>
                    <h4 class="lms-voca-intro-text-des">학습 현황을 한 눈에 볼 수 있는 학습통계자료.</h4>
                    <button class="lms-voca-intro-membership-btn">멤버쉽 가입하기</button>
                </div>
            </div>
        </section>

        <section class="lms-voca-config-wrap">
            <div class="lms-voca-config-box">
                <h4 class="lms-voca-config-title">학습통계자료 구성</h4>
                <div class="lms-voca-config-pin-box">
                    <div class="lms-voca-config-pin"></div>
                </div>

                <div class="lms-voca-config-list">
                    <div class="lms-voca-config-item">
                        <div class="lms-voca-config-img-box">
                            <img src="/static/images/menu/pc-content-lms-voca-config-study.png" alt="엘엠에스학습현황">
                        </div>

                        <p class="lms-voca-config-item-title">학습 현황</p>
                        <p class="lms-voca-config-item-des">학생의 디지털 컨텐츠 학습 현황을 한번에 파악할 수 있습니다.</p>
                        <button class="lms-voca-config-item-btn">더 알아보기</button>
                    </div>

                    <div class="lms-voca-config-item">
                        <div class="lms-voca-config-img-box">
                            <img src="/static/images/menu/pc-content-lms-voca-config-daily.png" alt="엘엠에스일보고사">
                        </div>

                        <p class="lms-voca-config-item-title">Daily Report</p>
                        <p class="lms-voca-config-item-des">매일마다 체크할 수 있는 오답률/정답률과 단어 습득률을 제공하여, 지속적인 관리를 도와줍니다.</p>
                        <button class="lms-voca-config-item-btn">더 알아보기</button>
                    </div>

                    <div class="lms-voca-config-item">
                        <div class="lms-voca-config-img-box">
                            <img src="/static/images/menu/pc-content-lms-voca-config-monthly.png" alt="엘엠에스월보고서">
                        </div>

                        <p class="lms-voca-config-item-title">학습 현황</p>
                        <p class="lms-voca-config-item-des">축적된 데이터로 정확하고 신뢰성 있는 학습 진단과 학습법을 제공하여, 학생들이 학습 목표를 정하는 데 도움을 줍니다. </p>
                        <button class="lms-voca-config-item-btn">더 알아보기</button>
                    </div>
                </div>
            </div>


        </section>

    </div>
</div>
