<link rel="stylesheet" href="/static/css/menu/service-pmt.css">

<section class="contents-wrap">
    <div class="contents-box">
        <h3 class="contents-title">Placement Test</h3>
        <p class="contents-des">개인 맞춤형 진단</p>
        <button class="contents-go">테스트 바로가기</button>
    </div>

    <div class="scd-box">
        <button class="scd-btn">Scroll Down</button>
    </div>
</section>


<div class="pmt-container">
    <div class="pmt-content-wrap">
        <section class="pmt-main-wrap">
            <div class="pmt-main-box">
                <div class="pmt-img-area">
                    <picture class="pmt-img-box lazy lz-entered lz-loaded" data-src="/static/images/menu/pc-content-pmt-main.png">
                        <source media="(max-width:799px)" srcset="">
                        <source media="(max-width:799px)" srcset="">
                        <img src="/static/images/menu/pc-content-pmt-main.png" alt="pmt설명">
                    </picture>
                </div>

                <div class="btn-area">
                    <button class="btn-go-mbs"></button>
                    <button class="btn-go-tst"></button>
                </div>

            </div>
        </section>
    </div>
</div>