<link rel="stylesheet" href="/static/css/menu/service-tm.css">
<section class="contents-wrap">
    <div class="contents-box">
        <h3 class="contents-title">Teaching Materials</h3>
        <p class="contents-des">학생 지도 자료</p>
        <button class="contents-go">수업자료 바로가기</button>
    </div>

    <div class="bar-area">
        <div class="bar-box">
            <div class="bar-item bar-text-active" data-item="tm-read-wrap">Reading Series</div>
        </div>

        <div class="indicate-box">
            <div class="indicate-item"></div>
        </div>
    </div>

    <div class="scd-box">
        <button class="scd-btn">Scroll Down</button>
    </div>
</section>

<div class="tm-container">
    <div class="tm-content-wrap">
        <section class="tm-intro-wrap">
            <div class="tm-intro-box">

                <div class="tm-intro-text blind">
                    <div class="tm-intro-title-box">
                        <p>학생에 맞는 맞춤형 수업을 위한, TOSEL의 새로운 방법!</p>
                        <h4 class="tm-intro-title">비대면 수업 자료</h4>
                        <p>교사와 학생들이 효과적으로 비대면 영어 수업을 할 수 있도록 TOSEL에서 교사들에게 제공하는 수업 활용 자료입니다.</p>
                    </div>
                </div>

                 <div class="tm-intro-img-back">
                    <img class="lazy lz-entered lz-loaded" data-src="/static/images/menu/pc-content-tm-intr-back.png" src="/static/images/menu/pc-content-tm-intr-back.png" alt="수업자료 백그라운드">
                </div>

                <div class="tm-intro-img-box">
                    <img class="lazy lz-entered lz-loaded" data-src="/static/images/menu/pc-content-tm-intr-read.png" src="/static/images/menu/pc-content-tm-intr-read.png" alt="리딩이미지">
                </div>

                <div class="btn-bk-intro-box">
                    <button class="btn-mbs"><span class="blind">멤버십 바로가기</span></button>
                    <button class="btn-tmr"><span class="blind">수업자료 바로가기</span></button>
                </div>

            </div>
        </section>
    </div>
</div>