<div id="footer">
    <footer class="foot-area">
        <div class="flogo-box">
            <img class="fpc-tosel-logo" src="/static/images/common/pc-logo-tosel-lab-footer.png" alt="토셀푸터로고">
        </div>

        <div class="flink-box">
            <p class="copyright">Copyright © International TOSEL Committee. 2002-2021 All Rights Reserved.</p>
            <ul class="icon-list">
                <li class="icon-item"><a href="https://www.facebook.com/TOSELFRIEND" target='_blank' alt="토셀페이스북아이콘"></a></li>
                <li class="icon-item"><a href="https://www.instagram.com/tosel_official" target='_blank' alt="토셀인스타그램아이콘"></a></li>
                <li class="icon-item"><a href="https://www.youtube.com/channel/UCY-PvrJPkwc_VBlIpP0O43g" target='_blank' alt="토셀유튜브아이콘"></a></li>
                <li class="icon-item"><a href="https://blog.naver.com/PostList.naver?blogId=ebs1503" target='_blank' alt="토셀블로그아이콘"></a></li>
            </ul>
            <button class="flink-tosel" onclick="window.open('http://www.tosel.org/indexn2')" target='_blank'>TOSEL 홈으로</button>
        </div>
    </footer>
</div>