<div id="header">
    <header class="head-area">
            <div class="logo-box">
                <h1 class="blind">TOSEL LAB</h1>
                <img class="m-tosel-logo" src="/static/images/common/pc-logo-tosel-lab.png" alt="토셀로고">
                <img class="pc-tosel-logo" src="/static/images/common/pc-logo-tosel-lab.png" alt="토셀로고">
            </div>

            <div class="service-box">
                <div class="service-items">
                    <button class="service-item">TOSEL Lab 소개</button>
                    <div class="service-link">
                        <p class="">TOSEL 소개</p>
                        <p class="">TOSEL Lab이란?</p>
                        <p class="">왜 TOSEL Lab인가?</p>
                    </div>
                </div>
                <div class="service-items">
                    <button class="service-item">서비스 소개</button>
                </div>
                <div class="service-items">
                    <button class="service-item">멤버십</button>
                </div>
                <div class="service-items">
                    <button class="service-item">컨텐츠 바로가기</button>
                </div>
            </div>

            <nav class="nav-box">

                <button class="nav-item"><a href="#" class="nav-link block">FAQ</a></button>

                <button class="nav-item"><a href="http://www.tosel.org/indexn2" target='_blank' class="nav-link">TOSEL 홈으로</a></button>


                <button class="btn-login" onclick="window.open('http://www.tosel.org/indexn2')" target='_blank' >로그인</button>
            </nav>
        </header>
</div>
