<div id="header">
    <header class="head-area">
            <div class="logo-box">
                <h1 class="blind">TOSEL LAB</h1>
                <img class="m-tosel-logo" src="/static/images/common/pc-logo-tosel-lab.png" alt="토셀로고">
                <img class="pc-tosel-logo" src="/static/images/common/pc-logo-tosel-lab.png" alt="토셀로고">
            </div>

            <div class="service-box">
                <div class="service-items">
                    <div class="mouse-over-area">
                        <div class="service-item">TOSEL Lab 소개</div>
                    </div>
                    <div class="service-link">
                        <p class="">TOSEL 소개</p>
                        <p class="">TOSEL Lab이란?</p>
                        <p class="">왜 TOSEL Lab인가?</p>
                    </div>
                </div>
                <div class="service-items">
                    <div class="mouse-over-area">
                        <div class="service-item">서비스 소개</div>
                    </div>
                </div>
                <div class="service-items">
                    <div class="mouse-over-area">
                        <div class="service-item">멤버십</div>
                    </div>
                </div>
                <div class="service-items">
                    <div class="mouse-over-area">
                        <div class="service-item">컨텐츠 바로가기</div>
                    </div>
                </div>
            </div>

            <nav class="nav-box">

                <div class="nav-item"><a href="#" class="nav-link block">FAQ</a></div>

                <div class="nav-item"><a href="http://www.tosel.org/indexn2" target='_blank' class="nav-link">TOSEL 홈으로</a></div>


                <div class="btn-login" onclick="window.open('http://www.tosel.org/indexn2')" target='_blank' >로그인</div>
            </nav>
        </header>
</div>
<script>

    $(document).on('mouseover', '.service-items:nth-child(1)', function() {
        $('.service-link').fadeIn();
    });

    $(document).on('mouseover', '.service-link', function() {
        $('.service-link').fadeIn();
    });

    $(document).on('mouseleave', '.service-items:nth-child(1)', function() {
        $('.service-link').fadeOut();
    });


</script>
